In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
LR_dataset = pd.read_excel('../datasets/LR_test_dataset.xlsx')
print(LR_dataset.columns.tolist())

[1, 2, 3, 4, 5, 6]

In [14]:
LR_dataset.head()

            1       2       3       4        5        6
0  Experience       0       2       4        6        8
1      Salary  200000  400000  800000  1200000  1600000

In [28]:
# printing doted graph



import matplotlib.pyplot as plt

plt.plot(LR_dataset[0], LR_dataset[2], 'b.')  # Replace 0 and 2 with actual column numbers
plt.xlabel("Experience")
plt.ylabel("Salary")
plt.title("Experience vs Salary")
plt.grid(True)
plt.show()

KeyError: 0